body {
    background-color: #000;
}

button {
    font-size: 0.9em;
    text-align: center;

    border: 1px solid white;
    background-color: #e1e1e1;

    opacity: 0.5;
    transition: opacity 0.25s;

    user-select: none;

    cursor: pointer;
}

button:hover {
    opacity: 1;
}

#button-holder {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
}

#info-box {
    position: absolute;

    right: 32px;

    width: 400px;
    height: auto;

    background: #e1e1e1;
    border: 1px solid white;
    border-radius: 10px;

    transition: opacity 0.25s;
    opacity: 0;
    display: none;

    padding: 10px;
}

#info-box.shown {
    opacity: 1;
    display: block;
}


table {
    border: 1px solid #666;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}

tr {
    border-bottom: 1px solid #666;
}

td {
    padding: 5px;
}

code {
    background-color: #ccc;
    padding: 2px;
    border-radius: 5px;
}


.editor-container {
    position: relative;

    width: 50%;
    height: 100%;

    float: left;
}

#editor {
    position: absolute;

    width: 100%;
    height: 100%;

    font-size: 1.2em;

    border: 0px;
    border-radius: 10px 0px 0px 10px;
}

#renderedLines {
    position: relative;

    width: 50%;
    height: 100%;
    float: right;

    background-color: #ddd;

    text-align: left;

    border: 0px;
    border-radius: 0px 10px 10px 0px;

    overflow: auto;
}

#renderedLines > .line {
    padding-top: 1em;
    padding-left: 1em;
}
