body {
    background-color: #000;
}

button {
    position: absolute;
    width: 16px;
    height: 16px;

    text-align: center;

    border: 1px solid white;
    background-color: #e1e1e1;

    opacity: 0.5;
    transition: opacity 0.25s;

    user-select: none;

    cursor: pointer;
}

button:hover {
    opacity: 1;
}

#my-info-button {
    right: 5px;
}

#my-share-button {
    right: calc(5px + 16px + 2px);
}

#my-settings-button {
    right: calc(5px + 16px + 2px + 16px + 2px);
}

#info-box {
    position: absolute;

    right: 32px;

    width: 300px;
    height: 200px;

    background: #e1e1e1;
    border: 1px solid white;
    border-radius: 10px;

    transition: opacity 0.25s;
    opacity: 0;
}

#info-box.shown {
    opacity: 1;
}

.editor-container {
    position: relative;

    width: 50%;
    height: 100%;

    float: left;
}

#editor {
    position: absolute;

    width: 100%;
    height: 100%;

    font-size: 1.2em;

    border: 0px;
    border-radius: 10px 0px 0px 10px;
}

#renderedLines {
    position: relative;

    width: 50%;
    height: 100%;
    float: right;

    background-color: #ddd;

    text-align: left;

    border: 0px;
    border-radius: 0px 10px 10px 0px;

    overflow: auto;
}

#renderedLines > .line {
    padding-top: 1em;
    padding-left: 1em;
}
